@model IEnumerable<EmWebApp.Models.ConsularApptVM>
@using EmWebApp.BLL
@{
	ViewBag.Title = "Consular Appointments";
	SelectList apptDates = DropDownLookups.GetAppointmentDates();
}
<h4>Consular Appointments (Confirmed)</h4>

<div style="background-color:ghostwhite; padding: 0; ">

	<div class="col-md-12" style="border:1px solid #cecece; border-radius: 5px; padding: 10px; background-color:#eeeeee">
		<form class="form-inline" mehod="get">
			@Html.Label("Appointment Date: ", new { @class = "control-label" })
			@Html.DropDownList("appointmentDate", @apptDates, "--All Appointment Dates--", new { @class = "form-control" })
			&nbsp;&nbsp;&nbsp;
			@Html.Label("Passport Number: ", new { @class = "control-label" })
			<input class="form-control" type="search" name="passportNumber" />
			&nbsp;&nbsp;&nbsp;
			<input class="btn btn-default" type="submit" value="Search" />
		</form>
	</div>
	<br />
	<div class="container">
		<hr />
		<div class="panel panel-default">
			<div class="panel-heading">
				Consular Appointments
				@if ((bool)ViewBag.DownloadCsv)
				{
					@Html.ActionLink("[Download CSV]", "GetCSV", new { ppNum = ViewBag.PassportNumber, apptDt = ViewBag.AppointmentDate }, new { @class = "pull-right", role = "link" });
				}
			</div>
			<div class="panel-body">
				@foreach (var item in Model)
				{
					<div class="row">
						<div class="col-sm-4">
							<div class="col-sm-7" style="background-color:#efefef">Appointment Date:</div>
							<div class="col-sm-5">@String.Format("{0:dd MMM, yyyy}", item.AppointmentDate)</div>
							<div class="col-sm-7" style="background-color:#efefef">Queue Number:</div>
							<div class="col-sm-5">@item.QueueNumber</div>
						</div>
						<div class="col-sm-6">
							<div class="col-sm-4" style="background-color:#efefef">Name:</div>
							<div class="col-sm-7">@item.Name</div>
							<div class="col-sm-4" style="background-color:#efefef">Passport Number:</div>
							<div class="col-sm-7">@item.PassportNumber</div>
						</div>
						<div class="col-sm-2">
							@Html.ActionLink("Appointment Letter", "PrintApptLtr", new { id = item.ID }, new { @class = "btn btn-default btn-sm", role = "button" })
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
						</div>
						<div class="col-sm-6">
							<div class="col-sm-4" style="background-color:#efefef">Service Type:</div>
							<div class="col-sm-8">
								@ConsularAppointmentTypes.GetAppointmentType(item.AppointmentType).Description
							</div>
						</div>
						<!--
						<div class="col-sm-2" style="background-color: snow">
							(at)Html.ActionLink("[Application Details]", "Details", new { id = item.ID })
						</div>
							-->
					</div>
					<hr />
				}

			</div>
		</div>
	</div>
</div>
